In [2]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [21]:
pd.set_option("display_column.max", None)

OptionError: "No such keys(s): 'display_column.max'"

In [3]:
stock_data = pd.read_csv("/home/user/Desktop/Data_analysis_projects/Shoe_Brands/adidas.csv")

In [16]:
stock_data["date"] = pd.to_datetime(stock_data["date"])
req_stock_data = stock_data[stock_data["date"].dt.year > 2018]

In [17]:
req_stock_data

           date  1. open  2. high    3. low  4. close  5. volume
3229 2019-01-02   105.42  105.560  104.4500    104.89    32993.0
3230 2019-01-03   105.81  105.890  104.5100    104.53    81979.0
3231 2019-01-04   107.55  109.190  107.5500    108.78    69738.0
3232 2019-01-07   108.61  109.180  108.4200    109.10    82890.0
3233 2019-01-08   111.62  111.890  111.0400    111.32    62826.0
...         ...      ...      ...       ...       ...        ...
4914 2025-09-16   104.59  104.710  103.6600    104.38    45787.0
4915 2025-09-17   104.09  106.930  104.0900    105.83    52714.0
4916 2025-09-18   106.22  107.130  105.6850    107.00    52845.0
4917 2025-09-19   106.53  106.625  105.0000    105.55    45890.0
4918 2025-09-22   105.25  106.120  104.7525    105.70    54861.0

[1690 rows x 6 columns]

In [19]:
overall = pd.read_csv("/home/user/Desktop/Data_analysis_projects/Shoe_Brands/adidas_2019_2024.csv", index_col = 0)

In [20]:
overall

,Company,Year,Operating_CF,Free_CF,CapEx,Dividends,Share_Repurchases,Current_Asset,Non_Current_Asset,Total_Assets,...,Total_Current_Liabilities,Non-Current_Liabilities,Total_Debt,Shareholders_Equity,Cash,Inventory,Revenue,Cost_of_Sales,Gross_Profit,Net_Income
0,Adidas,2019,2819,2221,598,664,809,10934,9746,20680,...,8754,1595,1638,7058,2220,4085,23640,11347,12293,1977
1,Adidas,2020,1486,1118,368,0,257,12154,8899,21053,...,8827,2482,3168,6691,3994,4397,18345,9213,9132,443
2,Adidas,2021,3192,2698,494,585,1000,13944,8193,22137,...,8965,2466,2495,7519,3828,4009,21234,10469,10765,2158
3,Adidas,2022,-479,-983,504,610,2500,11732,8564,20296,...,9257,2946,3473,5351,798,5973,22511,11867,10644,638
4,Adidas,2023,2630,2267,363,125,0,9809,8211,18020,...,8043,2430,2979,4925,1431,4525,21427,11244,10183,-58
5,Adidas,2024,2910,2491,419,125,0,11904,8751,20655,...,9593,1915,2485,5867,2455,4989,23683,11658,12025,832